{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">{{ app_data['name'] }}</h1>
    <p class="lead">{{ app_data['description'] }}</p>

    <hr class="my-4">
    <form method="post" action="/">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ output }}</span>
        </div>
        <input type="text" class="form-control" pattern='[\u0401\u0451\u0410-\u044f]{2,}' required placeholder="Name" name="name">
        <input type="text" class="form-control" pattern='[\u0401\u0451\u0410-\u044f]{2,}' required placeholder="Surname" name="surname">
        <div class="input-group-append">
          <input class="btn btn-outline-primary" type="submit" value="Convert" name = "Convert">
        </div>
      </div>
  </form>




  </div>
{% endblock %}
